.sideNav {
    height: 100%;
    position: fixed;
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F5F5F5;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 5px;
    border: 1px solid black;
}

.btnOpenNav {
    position: center;
    top: 0px;
    margin-left: 5px;
    margin-bottom: 25px;
    /* border: 5px solid black; */
    overflow: hidden;
    cursor: pointer;
    max-width: 38px;
}

.btnCloseNav {
    position: left;
    top: 0px;
    right: 25px;
    font-size: 25px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.navOption {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #333;
    display: block;
    transition: 0.9s;
}

.pageTitle {
    margin: auto;
    max-width: 700px;
    text-align: center;
    /* border: 1px solid blue; */
}

.title_image {
    max-width: 500px;
    margin: auto;
}

.categories {
    margin: auto;
    margin-top: 45px;
    width: 100%;
    max-width: 700px;
    height: 50px;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    /* border: 1px solid green; */
}

.btnToggle {
    margin: auto;
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

.btnToggle:hover {
    background-color: lightblue;
}

.liveMusic {
    margin: auto;
    margin-top: 25px;
    width: 100%;
    max-width: 700px;
    text-align: left;
    /* border: 1px solid red; */
}

.art {
    margin: auto;
    margin-top: 25px;
    width: 100%;
    max-width: 700px;
    justify-content: center;
    text-align: center;
    /* border: 1px solid rgb(102, 151, 28); */
}

.performance {
    margin: auto;
    margin-top: 25px;
    width: 100%;
    max-width: 700px;
    /* border: 1px solid rgba(228, 133, 10, 0.959); */
    text-align: center;

}

.venues {
    margin: auto;
    margin-top: 25px;
    width: 100%;
    max-width: 700px;
    /* border: 2px solid rgba(101, 117, 206, 0.959); */
    text-align: center;
}

ul {
    margin: auto;
    width: 100%;
    max-width: 700px;
    display: table;
    table-layout: fixed; /* optional, for equal spacing */
    border-collapse: collapse;
}

li {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding-left: 8px;
    padding-right: 1px;
    padding-top: 7px;
    font-size: 15px;
    font-family: 'Arial'
}

.event {
    text-align: left;
    padding-right: 5px;
    padding-left: 4px;
}

.btnExpand {
    margin-left: 1px;
    margin-right: 1px;

}

.listHeaders {
    margin: auto;
}

.columnHeader {
    font-size: 22px;
}

.venueInfo {
    text-align: left;
}

.neighborhood {
    margin-top: 5px;
}

/*==================================
==================================*/

.hidden {
    display: none;
}