{% extends "base.html" %}

{% block title %}
About Next Up, Seattle
{% endblock %}

{% block content %}
<div style="color: white; margin-top: 100px;">
    <h1 style="text-align: center; margin-top: 25px; color: white;">About Next Up, Seattle</h1>
    <br>

</div>
<br><br>
<div class="about_us" style="max-width: 600px; font-size: 20px; margin: auto; color: white; ";>
    <p class="box">Hello, Seattle!  Welcome to Next Up.  The best way to find out who's performing next on
        any given stage in Seattle.  If you want to see more of what Seattle's music scene has to offer,
        then this is the tool for you.
    </p>
    <br>
    <p>
        My goal is to provide you with the quickest access to what's happening tonight in the
        Seattle music scene (and more), without you having to already know exactly what you're looking for,
        and without me trying to convince you what's good and what's not.  I came to
        this city as a transplant in 2018, and exploring the local music scene was my gateway into making friends
        and anchoring myself into a new life.  I hope it can serve you in a similar fashion.
    </p>
    <br>
    <p>
        Seattle has undoubtedly changed over the years, and the city center (and many bordering
        neighborhoods) are not getting the love that they once did, both pre-COVID and pre-tech influx.
        Next Up, Seattle invites you to get into (or get BACK into) exploring the neighborhoods and
        establishments that made (and make) this city a fantastic place to be a part of.
    </p>
    <br>
    <p>
        The list updates every day and will show you the next event
        on each of our local venues' calendars, as well as those of Seattle's large arena
        venues (which will be added back onto the site soon).
    </p>
    <b></b>
    <p>
        The selection of venues is small for the moment, but I am continuously working to add
        more venues from more of our neighborhoods.
    </p>
    <br>
    <p>
        If you want to get a taste of what a
        venue has to offer, check out their line-up, look up a few of the artists on streaming apps
        or YouTube, and go check out a show if you like it!  Take risks, too.  If you're on
        the fence about a local artist, take a chance and check them out for a couple bucks.
        You don't have much to lose and a whole world of wonderful art to gain.
    </p>
    <br><br>
    <p>
    Here's what you can expect to come in the near future:
    </p>
    <br><br>
    <div style="font-size: 17px;">
        <p>➡️➡️
            <strong>More venues!  I'm working to add new venues all the time. Neighborhoods I'll be
        including in the near future include Columbia City and West Seattle. (working continuously
        on this
            </strong></p>
        <p>➡️➡️
            <strong>
                Filter venues by neighborhood (this will likely be the next feature added)
            </strong>
        </p>
        <p>➡️➡️
            <strong>
                An Arts Page! Where you can find info about Art Walks, gallery exhibitions, and
                other events held at non-gallery spaces.
            </strong>
        </p>
    </div>
    <br><br>
    <p>Thanks for using Next Up, Seattle! I hope this will be a beneficial tool for you to
    discover everything the local music and arts scene here in Seattle has to offer. :)</p>
    <br><br>
    <h3>CHEERS!  =)</h3>
    <br><br>
    <p>     - Chris</p>
    <br><br><br><br><br><br>


    <p style="text-align: center;">
    Developed by Chris Downing,
    <br>
    Last updated September 23rd, 2026
    <br>
    (🎉🎁 Happy birthday Jay! 🎂🎉)
    </p>
    <br><br><br>
</div>'


{% endblock %}