<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
<!--  <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" name="viewport" content="width-device-width, initial-scale=1.0">
  <title>{% block title %}Next Up Seattle{% endblock %}</title>
  <link rel="stylesheet" href="/static/styles.css">
  <link href='https://fonts.googleapis.com/css?family=Lobster Two' rel='stylesheet'>
  <script src="/static/script.js" defer></script>
</head>
<body>
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/">Home</a>
    <a href="/About_Us">About</a>
    <a href="/Contact_Us">Contact Us</a>
  </div>
  <div class="container" onclick="openNav()">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>

  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>