{% extends "base.html" %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
    <section>
        <div class="container venue_cal_header">
            <div class="home_title">
                <div>
                    <h1 class="small-caps">Upcoming Shows</h1>
                    <!-- <h2 class="small-caps">by Venue</h2> -->
                    <p class="title-subtext font_jakarta">Browse upcoming shows by venue and neighborhood</p>
                </div>
            </div>
        </div>

       <div style="color:light blue">
            {{ dictionary["Central Saloon"][3] }}
           <br><br><br><br>
            {% set ts_list = dictionary["Central Saloon"][4] %}

            {% for ts in ts_list %}
                 <p>
                     {{ ts_list[0].__class__.__name__ }}
                     {{ datetime.strftime(ts, "%a %d %#I:%M %p") }}
                     {{ datetime.strftime(ts, "%a %d %#I:%M %p") }}
                 </p>
            {% endfor %}
<!--           -->
<!--            <p>Hello!@</p>-->
        </div>
        {{ dictionary["Central Saloon"] }}
        {% for key, item in dictionary.items() %}
        <div style="color:white">
            {{key}}
            {{item[0]}}
        </div>
        {% endfor %}
    </section>
{% endblock %}