<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width-device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/styles.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='Next Up Seattle Logo 2.ico') }}">
        <title>Next Up, Seattle!</title>
    </head>
    <body>
        <div class="btnOpenNav">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <div class="sideNav">
            <button class="btnCloseNav">X</button>
            <br>
            <a href="/" class="navOption">Home</a>
            <br>
            <a href="/About" class="navOption">About Us</a>
            <br>
            <a href="/Contact_Us" class="navOption">Contact Us</a>
        </div>

        <div class="title_image">
            <img src="static/Next Up Seattle with Text - Block Cropped 1.jpg" alt="Next Up, Seattle!"
            style="max-width: 100%">
        </div>
<!--        <h1 class="pageTitle">Next Up, Seattle!</h1>-->

<!--        <div class="categories">-->
<!--            <button class="btnToggle show-music">Live <br> Music</button>-->
<!--            <button class="btnToggle show-art">Art<br>Events</button>-->
<!--            <button class="btnToggle show-performance">Performance<br>Art</button>-->
<!--            <button class="btnToggle show-venues">Venues</button>-->
<!--        </div>-->

        <div class="liveMusic">
            <ul class="listHeaders">
                <li class="columnHeader">Venue</li>
                <li class="columnHeader">Band/Event</li>
                <li class="columnHeader">Date</li>
            </ul>
            <hr>

            {% set counter = 1 %}
            {% for key, info in dictionary.items() %}
            <div>
                <div class="button-container" style="text-align:left;">
                    <button class="{{key}} expander">+</button>
                </div>
                <ul>
                    <li class="venueInfo">
                        <a href="{{info[0]}}" target="_blank" rel="noopener noreferrer">{{key}}</a>
                        <br>
                        <p class="neighborhood"><i>{{info[1]}}</i></p>
                    </li>
                    <li class="event">{{ info[2][0] }}</li>
                    <li class="date">{{ info[3][0] }}</li>
                </ul>
                <div class="{{key}} expandable hidden">
                    <ul>
                        <li></li>
                        <li class="event">{{ info[2][1] }}</li>
                        <li>{{ info[3][1] }}</li>
                    </ul>
                    <ul>
                        <li></li>
                        <li class="event">{{ info[2][2] }}</li>
                        <li>{{ info[3][2] }}</li>
                    </ul>
                    <ul>
                        <li></li>
                        <li class="event">{{ info[2][3] }}</li>
                        <li>{{ info[3][3] }}</li>
                    </ul>
                    <ul>
                        <li></li>
                        <li class="event">{{ info[2][4] }}</li>
                        <li>{{ info[3][4] }}</li>
                    </ul>
                </div>
                <hr>
            </div>
            {% endfor %}
        </div>

        <div class="art hidden">
            This section coming soon!
        </div>

        <div class="performance hidden">
            This section coming soon!
        </div>

        <div class="venues hidden">
            This section coming soon!
        </div>

    <script src="/static/script.js"></script>
    </body>
</html>
