{% extends "base.html" %}

{% block title %}
Contact Us
{% endblock %}

{% block content %}
    <div class="contact_info" style="max-width: 100%; color: white;">
        <br><br><br><br><br><br><br><br>
        <h2 style="text-align: center;">Email us at
            <a href="mailto:nextupseattle@proton.me">
                <u><b>NextUpSeattle@proton.me</b></u>
            </a>
        </h2>
        <br>
        <h1 style="text-align: center;">:-)</h1>
        <br>
    </div>


    <script src="/static/script.js"></script>

{% endblock %}